@import './reset.css';
@import './bootstrap.min.css';
@import './bootstrap-card.css';
@import './prism.css';
@import './ionicons.min.css';
@import './compodoc.css';
@import './tablesort.css';

.table-properties {
    width: 600px;
}

body {
    background-color: #eef0f8;
    font-family: poppins;
    font-size: 13px !important;
    color: #464e5f !important;
}

.card {
    border-radius: 0.42rem;
    border: none;
}

.content.overview .card .icon {
    margin-right: 0px;
}

.card-text {
    font-size: 1.45rem !important;
}

.card-modules {
    border-bottom: 2px solid rgb(52, 152, 219);
}

.card-modules .icon {
    color: rgba(52, 152, 219, 0.4);
}

.card-components {
    border-bottom: 2px solid rgb(26, 188, 156);
}
.card-components .icon {
    color: rgba(26, 188, 156, 0.4);
}
.card-controllers {
    border-bottom: 2px solid rgb(243, 156, 18);
}
.card-controllers .icon {
    color: rgba(243, 156, 18, 0.4);
}
.card-directives {
    border-bottom: 2px solid rgb(231, 76, 60);
}
.card-directives .icon {
    color: rgba(231, 76, 60, 0.4);
}
.card-injectables {
    border-bottom: 2px solid rgb(137, 80, 252);
}
.card-injectables .icon {
    color: rgba(137, 80, 252, 0.4);
}
.card-pipes {
    border-bottom: 2px solid rgb(52, 73, 94);
}
.card-pipes .icon {
    color: rgba(52, 73, 94, 0.4);
}
.card-classes {
    border-bottom: 2px solid rgb(241, 196, 15);
}
.card-classes .icon {
    color: rgba(241, 196, 15, 0.4);
}
.card-guards {
    border-bottom: 2px solid rgb(192, 57, 43);
}
.card-guards .icon {
    color: rgba(192, 57, 43, 0.4);
}
.card-interfaces {
    border-bottom: 2px solid rgb(41, 128, 185);
}
.card-interfaces .icon {
    color: rgba(41, 128, 185, 0.4);
}
.card-routes {
    border-bottom: 2px solid rgb(127, 140, 141);
}
.card-routes .icon {
    color: rgba(127, 140, 141, 0.4);
}
